.quote blockquote {
  margin: 0;
  padding: 16px 16px 16px 24px;
  border-left: 4px solid var(--link-color);
  font-size: var(--body-font-size-m);
  font-style: italic;
  color: var(--text-color);
}

.quote blockquote cite {
  display: block;
  margin-top: 16px;
  font-size: var(--body-font-size-s);
  font-style: normal;
  color: var(--dark-color);
}

@media (width >= 600px) {
  .quote blockquote {
    padding: 24px 24px 24px 32px;
  }

  .quote blockquote cite {
    margin-top: 24px;
  }
}

@media (width >= 900px) {
  .quote blockquote {
    padding: 32px 32px 32px 40px;
  }
}
